footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d2c8;
  height: 45px;
  padding: 0 20px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .social-media {
    display: none;
  }
}
