@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d2c8;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 82px;
  width: auto;
}

.store-name {
  font-size: 20px;
  color: #333;
  font-family: "Edu AU VIC WA NT Guides", cursive;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-right: 20px;
}

.search-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 100%;
  margin-right: 10px;
}

.search-icon {
  color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
  .store-name {
    display: none;
  }

  .search-container {
    display: none;
  }
}
